#qustion 1

In [2]:
type(5) #this is an integer

int

In [3]:
type(5.0) #this is a floating point value/decimal value

float

In [4]:
type(5 > 1) # > is a comparison operator. It is of boolean type i.e true/false 1/0

bool

In [5]:
type('5') #it is of string type

str

In [6]:
type(5*2) #this is of integer type

int

In [7]:
type('5' + 2)# we will get an error when we execute this because we have decared 5 within '' and that is a string and we cannot add atring and integer type

TypeError: can only concatenate str (not "int") to str

In [8]:
type('5' + '2')#this will not give us an error as bothe 5 and 2 are declared with ''. This will conctenate the two strings

str

In [9]:
type(5/2) #this will float/decimal value as / operator is used to divide two values.

float

In [10]:
type(5%2) #this will of int type as % operator retrn the remainder

int

In [11]:
type({5,2,1}) #this will of a set as sets in python are defined by {}

set

In [12]:
type(5 == 3) #this will be of bollean type as == will compare the two variables and return true/false.

bool

In [13]:
type(3.14) #pi is of float type

float

#quesion 2

In [14]:
v = 'Supercalifragilisticexpialidocious'
len(v) #checking how many letters are in'Supercalifragilisticexpialidocious'.

34

In [15]:
if 'ice' in v: #here we are checking whether 'Supercalifragilisticexpialidocious' contains 'ice' as a substring
    print("True") 
else:
    print("False")

True

In [16]:
print(len("Supercalifragilisticexpialidocious"))
print(len(" Honorificabilitudinitatibus,"))
print(len("Bababadalgharaghtakamminarronnkonn"))

34
29
34

In [ ]:
#"Supercalifragilisticexpialidocious" and "Bababadalgharaghtakamminarronnkonn" are of the same length

In [17]:
list1=['Berlioz','Borodin','Brain','Bartok','Bellin','Buxtehude','Berstein']
list1  #here we are ddeclaring  al ist with the names of various composers and sorting the list.
list1.sort()
list1
print('First composer:', list1[0])
print('Last composer: ', list1[-1])

First composer: Bartok
Last composer:  Buxtehude

#question 3

In [18]:
import math #we have to import math module so that we can use the square root function of python

In [19]:
#a = int(input("Enter a side of the triangle: "))  #here we are asking the user to input the 3 sides of a triangle. 
#b = int(input("Enter b side of the triangle: "))
#c = int(input("Enter c side of the triangle: "))

def triangleArea(a,b,c):  #we are declaring a fucntino that will calculate the area of the triangle
    s=(a+b+c)/2           #we will also give 3 arguments in this function
    area = math.sqrt(s*(s-a)*(s-b)*(s-c))
    print("Area of the triangle: ",area)

#triangleArea(c,b,c) #here we are calling the funtion and passing the input taken from user as arguments 
triangleArea(2,2,2)

Area of the triangle:  1.7320508075688772

#question 4

In [20]:
l,m,n,o,p=map(int,input("Enter numbers:").split()) #here we are atking multiple itnerger type inputs from the user in a single line

l  #I have taken a reference on how to take multiple interger inputs from user
   #https://www.codegrepper.com/code-examples/python/take+multiple+integer+input+in+python, this is the reference website

Enter numbers:1 2 3 4 5

1

In [21]:
list_input = [l,m,n,o,p] #we put the input from the user into a list
list_input

[1, 2, 3, 4, 5]

In [22]:
list_even=[] #we declare two empty lists, list_even and list_odd
list_odd=[]

for i in list_input: #here we are running a for loop on the input list and checking the numbers for even and odd
    if i%2 == 0:
        list_even.append(i)  #even numbers will be appended into the lsit_even list
        print("this is even: ",i)
    else:
        list_odd.append(i) #the odd numbers will be appended into this list
        
print("the even elements are: ",list_even[0:])
print("the odd elements are:" ,list_odd[0:])

this is even:  2
this is even:  4
the even elements are:  [2, 4]
the odd elements are: [1, 3, 5]

#question 5

In [23]:
def inside(x,y,x1,y1,x2,y2): 
    if (x > x1 and x < x2) and (y > y1 and y < y2): #here we are comparing and seeing if the value  of the x and y lie within the given range 
        print("True")
    else:
        print("False")

In [29]:
#x = int(input("Enter x cordinate:"))
#y = int(input("Enter y cordinate:"))
#x1 = float(input("Enter x1 cordinate:"))
#y1 = float(input("Enter y1 cordinate:"))
#x2 = float(input("Enter x2 cordinate:"))
#y2 = float(input("Enter y2 cordinate:"))

#inside(x,y,x1,y1,x2,y2)  #we can alsouse this code to take input from user us that input in the function.

In [30]:
inside(1,1,0,0,2,3)   #here we are giving the point to check and the range or the points of the triangle
inside(-1,-1,0,0,2,3)

inside(1,1,0.3,0.5,1.1,0.7)
inside(1,1,0.5,0.2,1.1,2)

True
False
False
True

#question 6

In [31]:
list2=[] #here we are declaring an empty list
def pig(r): #we are declaring a function wiht r as an argument
    for i in r: #this for statemnt will append r into list2 better by letter
        #print(i)
        list2.append(i)
        #print(list2)

    if list2[0] == 'a' or list2[0]== 'e' or list2[0]== 'i' or list2[0] == 'o' or list2[0] =='u':
        print("The string start with a vowel") #in this if statement we are chekcing whether the first element of the list is a vowel or not
        list2.append('way') #f it is vowel then we append 'way' at the end 
    else: #if the first element is a consonant then this part will execute
        print("The string starts with a consonant")
        list2.append(list2[0])
        list2.pop(0)
        list2.append('ay') #we append 'ay#' at the end 
    print("Conversion done")
#print(list1)

    string1 =''.join([str(item1) for item1 in list2]) #here we are combining the elements of the list to make a atring
    print("The string in Latin is:",string1) #I took a reference on how to join list elements to make a string 
    list2.clear()                            #https://www.simplilearn.com/tutorials/python-tutorial/list-to-string-in-python, reference

In [32]:
#r=input("Enter a string: ") #we are getting the input from the user
#pig('yuvraj')
#pig(r)
pig('happy') #calling the fucntion

The string starts with a consonant
Conversion done
The string in Latin is: appyhay

#question 7

In [33]:
def bldcount(file5): #here we are making a functions with one argument which will be the file name
    file5 = open(file5,'r')  #we are opening the file inside the fucntion
    t = file5.readline() 
    n = t.split()   #this will separate every value after a space and will make a list of all the values. 
    print("There are", n.count("A"), "patients of bloodtype A.") #getting the count of "A"
    if "B" in n: #getting the cocunt of "B"
        print("There is one patient of bloodtype B.")
    print("There are", n.count("AB"), "patients of bloodtype AB.") #getting the cocunt of "AB"
    print("There are", n.count("O"), "patients of bloodtype O.")   #getting the cocunt of "O"
    if "OO" in n:
        print("There are",n.count("OO"),"of bloodtype OO.")        #getting the cocunt of "OO"
    else:
        print("There are no patients with bloodtype OO.")
    file5.close()    #here we are closing the file

In [34]:
bldcount(r'E:\SEMESTER 1\DATA PROGRAMMING\bloodtype1.txt')

There are 15 patients of bloodtype A.
There is one patient of bloodtype B.
There are 13 patients of bloodtype AB.
There are 15 patients of bloodtype O.
There are no patients with bloodtype OO.

#question 8

In [35]:
file3 = open("E:\SEMESTER 1\DATA PROGRAMMING\currencies.txt",'r') #here we are opening the file
yu = file3.readlines()
print(yu)

['AUD\t1.0345157\tAustralian Dollar\n', 'CHF\t1.0237414\tSwiss Franc\n', 'CNY\t0.1550176\tChinese Yuan\n', 'DKK\t0.1651442\tDanish Krone\n', 'EUR\t1.2296544\tEuro\n', 'GBP\t1.5550989\tBritish Pound\n', 'HKD\t0.1270207\tHong Kong Dollar\n', 'INR\t0.0177643\tIndian Rupee\n', 'JPY\t0.01241401\tJapanese Yen\n', 'MXN\t0.0751848\tMexican Peso\n', 'MYR\t0.3145411\tMalaysian Ringgit\n', 'NOK\t0.1677063\tNorwegian Krone\n', 'NZD\t0.8003591\tNew Zealand Dollar\n', 'PHP\t0.0233234\tPhilippine Peso\n', 'SEK\t0.148269\tSwedish Krona\n', 'SGD\t0.788871\tSingapore Dollar\n', 'THB\t0.0313789\tThai Baht']

In [36]:
list4=[]   

for i in yu:
    list4.append(i.split("\t")) #this will separate the values after "\t" special character and append the values into the emptyl ist4 we made in the above line.

print(list4)

[['AUD', '1.0345157', 'Australian Dollar\n'], ['CHF', '1.0237414', 'Swiss Franc\n'], ['CNY', '0.1550176', 'Chinese Yuan\n'], ['DKK', '0.1651442', 'Danish Krone\n'], ['EUR', '1.2296544', 'Euro\n'], ['GBP', '1.5550989', 'British Pound\n'], ['HKD', '0.1270207', 'Hong Kong Dollar\n'], ['INR', '0.0177643', 'Indian Rupee\n'], ['JPY', '0.01241401', 'Japanese Yen\n'], ['MXN', '0.0751848', 'Mexican Peso\n'], ['MYR', '0.3145411', 'Malaysian Ringgit\n'], ['NOK', '0.1677063', 'Norwegian Krone\n'], ['NZD', '0.8003591', 'New Zealand Dollar\n'], ['PHP', '0.0233234', 'Philippine Peso\n'], ['SEK', '0.148269', 'Swedish Krona\n'], ['SGD', '0.788871', 'Singapore Dollar\n'], ['THB', '0.0313789', 'Thai Baht']]

In [37]:
dict1={} #here we are declaring an empty dictionary and an empty list
list5=[]

for  j in list4:
    list5.append(j[0]) #we are appending the first element of each index of list4 into list5

type(list5[0])

str

In [38]:
list6=[] #here we again make an empty list
for i in list4:
    list6.append(i[1]) # here we are appending the second eleement of each index of list4 into list6


for i in range(len(list5)):
    dict1[list5[i]]=list6[i]   #here we are filling the empty dictionary that we made above with elements of list5 as keys and elemenst of list6 aas values

In [39]:
#currency=input("Enter the currency: ") #here we take input currency from the user 
#value=float(input("enter the value: ")) #here we take the input value from the user
    
def curconv(currency,value): #here we have made a function wchich takes the currency and the value from the user as arguments
    if currency in dict1: #we check whether the currency is in the dictionary.
        converted = value*float(dict1[currency]) #here we declare a avriable called converted and store the converted US currency value
        print(converted)  #here we print the converted value
    else:
        print("Invalid Input")

curconv('EUR',100)

122.96544

In [40]:
file3.close()

#question 9

In [41]:
6 + 'a' #int and str type cannot be added

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
list_9=[]
for i in  range(11):
    list_9.append(i)
print(list_9)
print(list_9[11]) #this will give out of bound/range error

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

IndexError: list index out of range

In [43]:
math.sqrt(-1.0)  #this will give a math module error

ValueError: math domain error

In [44]:
print(h) #this will variable not defined error

NameError: name 'h' is not defined

In [45]:
file = open("E:\SEMESTER 1\DATA PROGRAMMING\currency.txt",'r') #this will error that there is no file name with currency meanining the file name is incorrect

FileNotFoundError: [Errno 2] No such file or directory: 'E:\\SEMESTER 1\\DATA PROGRAMMING\\currency.txt'

#question 10

In [46]:
string='abcdefghijklmnopqrstuvwxyz' # we are declaring a string with alphabets from a to z
list3=[]  #we declare an empty list

for i in string:  #we run a for loop to fill list3 with variable string character by characretr
    list3.append(i)

print(list3)

name='yuvraj' #we declare a string variable

list4=[] 

for n in list3: # we run a for loop in list3 and check the count of each element in string name and then append the cound into list4
        list4.append(name.count(n))

print(list4)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0]